body{
	margin:0;
	padding: 0;
	overflow-x: hidden;

}
.b-blue{
	background-color: #66D3FA;
}
.c-blue{
	color: #66D3FA;
}
.c-purple{
	color: #eb3be4;
}
.b-purple{
	background-color: #eb3be4;
}
.shadow-purple{
	box-shadow: 80px 50px rgba(235, 59, 228, 0.4);
}
.shadow-blue{
	box-shadow: -80px -50px rgba(102, 211, 250, 0.4);
}
.logo{
	transform: scale(1.2);
}
nav{
	height: 10vh;
	font-family: 'Righteous', cursive;
	color: black;
	border-bottom: 2px solid black;
}
.navbar-toggler{
	background: white;
	border:2px solid black;
}
.navbar-toggler-icon{
	background: black;
	border-radius: 50%;
	color: black
}
nav li a{
	text-transform: uppercase;
	transition: 0.5s;
	transform: scale(1.1);
	margin-left: 30px;
}

nav a{
	color: black;
}
.welcome{
	height: 90vh;
	display: flex;
	background-image: url("../imgs/programmer-bg2.png");
	background-size: cover;
	background-position: top;
	align-items: center;
	margin-bottom: 100px;
}
.welcome-panel{
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 50vw;
	height: 90vh;
}
.welcome-panel img{
	height: 100%;
	filter: grayscale(100);
	float:right;
	transition: 1s ease-in-out;
}
.welcome-panel img:hover{
	
	filter: grayscale(0);
	
}
.welcome-intro > h3{
	text-align: center;
	font-family: 'Righteous', cursive;
}
.welcome-intro{
	text-align: center;
	font-size: 20px;
	background-color: rgba(255,255,255, 0.95);
	padding:8px;
	box-shadow:5px 5px 8px;
	border-radius: 3px;
	width: 80%;
	
}
.intro-buttons-container{
	display: flex;
	width: 50%;
	margin: auto;
	justify-content: space-around;
	font-family: 'Righteous', cursive
}
.intro-button{
	border-radius: 3px;
	border:2px solid black;
	padding:5px;
}
.about-me{
	
}
.section-header{
	margin-bottom: 100px;
}
.section-header-small{
	font-family: 'Righteous', cursive;
	margin-bottom: 0px;
	color: #66D3FA;
	margin-left: 10%;

}
.section-header-big{
	font-size: 50px;
	font-family: 'Righteous', cursive;
	margin-left: 10%;
}
.section-header-break{
	width: 100%;
	height: 5px;
	background-color:black;
}
.about-row{
	margin-bottom: 200px;
}
.about-me-text{
	font-size: 22px;
	padding:15px;
}
.about-me-text h4{
	font-size: 30px;
	margin-bottom: 20px;
	
}
.about-me-img img{
	border-radius: 5px;
}
.about-me-img{
	transition: ease-in-out 1s;
}
.about-me-img:hover{
	transform: scale(1.07);
}
/*.about-me-img:after{
	content: "";
	display: block;
	width: 500px;
	height: 400px;
	background-color: #eb3be4;
	position: relative;
	top:-290px;
	left: 150px;
	z-index: 1;
	
}*/

.about-me-future{
	width: 100%;
	background: black;
	
	text-align: center;
	padding-top: 60px;
}
.future-header{
	color: #66D3FA;
	font-size: 40px;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	text-shadow: 30px 30px #eb3be4;
	margin-bottom: 70px;
}
.future-text{
	color: white;
	font-size: 22px;
	margin-top: 50px;
	margin-bottom: 0;
	padding-bottom: 60px;
	padding-right: 50px;
	padding-left: 50px;
}