body{
	margin:0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}
a:hover{
	text-decoration: none;
}
.b-blue{
	background-color: #66D3FA;
}
.c-blue{
	color: #66D3FA;
}
.c-purple{
	color: #eb3be4;
}
.b-purple{
	background-color: #eb3be4;
}
.shadow-purple{
	box-shadow: 80px 50px rgba(235, 59, 228, 0.4);
}
.shadow-blue{
	box-shadow: -80px -50px rgba(102, 211, 250, 0.4);
}
.logo{
	transform: scale(1.2);
}
nav{
	height: 10vh;
	font-family: 'Righteous', cursive;
	color: black;
	border-bottom: 2px solid black;
}
.navbar-toggler{
	background: white;
	border:2px solid black;
}
.navbar-toggler-icon{
	background: black;
	border-radius: 50%;
	color: black
}
nav li a{
	text-transform: uppercase;
	transition: 0.5s;
	transform: scale(1.1);
	margin-left: 30px;
}

nav a{
	color: black;
}
.welcome{
	height: 90vh;
	display: flex;
	background-image: url("../imgs/programmer-bg2.png");
	background-size: cover;
	background-position: top;
	align-items: center;
	margin-bottom: 100px;
}
.welcome-panel{
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 50vw;
	height: 90vh;
}
.welcome-panel img{
	height: 100%;
	filter: grayscale(100);
	float:right;
	transition: 1s ease-in-out;
}
.welcome-panel img:hover{
	
	filter: grayscale(0);
	
}
.welcome-intro > h3{
	text-align: center;
	font-family: 'Righteous', cursive;
}
.welcome-intro{
	text-align: center;
	font-size: 20px;
	background-color: rgba(255,255,255, 0.95);
	border-bottom: 4px solid #eb3be4;
	border-right: 4px solid #eb3be4;
	border-left: 4px solid #66D3FA;
	border-top: 4px solid #66D3FA;
	padding:8px;
	box-shadow:5px 5px gray;
	border-radius: 3px;
	width: 80%;
	
}
.intro-buttons-container{
	display: flex;
	width: 50%;
	margin: auto;
	justify-content: space-around;
	font-family: 'Righteous', cursive
}
.intro-button{
	border-radius: 3px;
	/*border:2px solid black;*/
	box-shadow: 0 5px gray;
	padding:5px;
	position: relative;
	cursor: pointer;
	transition: 1s ease-in-out;
}
.intro-button:hover{
	animation: jump-up 1s 1;
}
.about-me{
	margin-bottom: 100px;
}
.section-header{
	margin-bottom: 100px;
}
.section-header-small{
	font-family: 'Righteous', cursive;
	margin-bottom: 0px;
	color: #66D3FA;
	margin-left: 10%;

}
.section-header-big{
	font-size: 50px;
	font-family: 'Righteous', cursive;
	margin-left: 10%;
}
.section-header-break{
	width: 100%;
	height: 5px;
	background-color:black;
}
.about-row{
	margin-bottom: 200px;
}
.about-me-text{
	font-size: 22px;
	padding:15px;
}
.about-me-text h4{
	font-size: 30px;
	margin-bottom: 20px;
	
}
.about-me-img img{
	border-radius: 5px;
}
.about-me-img{
	transition: ease-in-out 1s;
}
.about-me-img:hover{
	transform: scale(1.07);
}
/*.about-me-img:after{
	content: "";
	display: block;
	width: 500px;
	height: 400px;
	background-color: #eb3be4;
	position: relative;
	top:-290px;
	left: 150px;
	z-index: 1;
	
}*/

.about-me-future{
	width: 100%;
	background: black;
	box-shadow: 0 0 2px 5px gray;
	text-align: center;
	padding-top: 60px;
}
.future-header{
	color: #66D3FA;
	font-size: 40px;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	text-shadow: 30px 30px #eb3be4;
	margin-bottom: 70px;
	animation: shadow 2s infinite;
}
.future-text{
	color: white;
	font-size: 22px;
	margin-top: 50px;
	margin-bottom: 0;
	padding-bottom: 60px;
	padding-right: 50px;
	padding-left: 50px;
}


.skills{

}
.skills-introduction{
	width: 500px;
	padding:40px;
	font-size: 22px;
	text-align:center;
	margin:auto;
	box-shadow: 8px 8px gray;
	border-bottom: 4px solid #eb3be4;
	border-right: 4px solid #eb3be4;
	border-left: 4px solid #66D3FA;
	border-top: 4px solid #66D3FA;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
	position: relative;


}

.info-pop{
	position: absolute;
	top: -15px;
	right: -15px;
	border:3px solid black;
	padding:6px;
	background: white;
	border-radius: 10px;
	animation: swing 3s infinite;

}
.skills-content{
	margin-top: 80px;
}
.com-img{
	text-align: center;
	font-family: 'Righteous', cursive;
}
.com-img img{
	width: 50px;
	height: 50px;
	position: relative;
}


.com-bar{
	/*border:2px solid #eb3be4;
*/	transition: all 1s ease;
	font-family: 'Righteous', cursive;
	font-size: 25px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	/*background: linear-gradient(90deg, rgba(0,212,255,1) 60%, rgba(255,255,255,1) 60%);*/
}
.skills-row{
	margin-bottom: 30px;
}
.skills-row:hover img{
	animation:jump-up 1s infinite;
}
.skills-can-text{
	border-bottom:5px solid #eb3be4;
	box-shadow: 8px 8px  grey;
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 60px;
	padding-top:10px;
}

.skills-can-text2{
	border-bottom:5px solid #66D3FA;
	box-shadow: 8px 8px  grey;
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 100px;
	padding-top:10px;

}
.skills-can{
	background-image: url("../imgs/can.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
}

.can-future{
	margin-top: 90px;
}

.can-future-panel{
	
	padding:50px;
}
.future-panel-body{
	border-bottom:8px solid #eb3be4;
	position:relative;
	text-align: center;
	box-shadow: 5px 5px 0 1px grey;
	transition: .5s linear;
}
.future-panel-body:hover{
	animation:jump-up 1s infinite;
	background-color: #eee;
}
.future-panel-header{
	padding: 5px;
	margin-bottom: 20px;
	margin-top:10px;
}
.future-panel-header img{
	width: 80px;
	height:80px;
}
.future-panel-text{
	padding: 20px;
	font-family: 'Righteous', cursive;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.projects{
	flex-direction: column;
	height: 600px;
	width:100%;
	background-image: url("../imgs/projects.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}
.projects-info{
	background-color: white;
	position: relative;
	width: 550px;
	padding: 25px;
	color: #444;
	text-align: center;
	font-size: 23px;
	font-family: 'Righteous', cursive;
	font-weight: 400;
	border-bottom: 4px solid #eb3be4;
	border-right: 4px solid #eb3be4;
	border-left: 4px solid #66D3FA;
	border-top: 4px solid #66D3FA;
}
.projects-go{
	font-size: 30px;
	margin-top: 30px;
	background-color: #66D3FA;
	padding:10px 15px;
	border-radius: 10px;
	/*border:3px solid #eb3be4;*/
	color: #fff;
	box-shadow: 0px 4px grey;
	position: relative;
	overflow:hidden;
	cursor: pointer;

}
.projects-go a{
	font-family: 'Righteous', cursive;
	color: #fff;

}
.projects-go-hover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -200px;
	background-color: #eb3be4;
	padding:10px 15px;
	border-radius: 10px;
	text-align: center;
	transition: .5s linear;
}
.projects-go:hover .projects-go-hover{
	left: 0;
}
.projects-pop{
	right: -80px;
	top: -30px;
}
footer{
	width: 100%;
	
	background-color: #333;
}

.top-footer{
	width: 100%;
	background-color: #555;
	padding:30px 0 30px 0;
	text-align: center;
	color: white;
	font-family: 'Righteous', cursive;
	font-size: 25px;
	box-shadow: 0 -5px 10px #66D3FA;
}
.main-footer{
	width: 100%;
	padding-top: 20px;
	font-size: 18px;
	color: white;
	padding-bottom: 20px;
	font-family: 'Righteous', cursive;
}
.footer-panel{
	/*border:2px solid red;*/
	padding-left: 40px;
}
.footer-panel h3{
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'Righteous', cursive;
	text-shadow: 30px 18px #eb3be4;
	margin-bottom: 40px;

}
.footer-panel ul{
	list-style: none;
}
.footer-panel li>a{
	color: white;
	font-size: 18px;
}
.footer-panel li>a:hover{
	color: #66D3FA;
}
.footer-panel img{
	border-radius: 50%;
	border:2px solid #66D3FA;
	width:100px;
	height:100px;
	margin:auto;
}
.bottom-footer{
	width: 100%;
	background-color:black;
	text-align: center;
	padding:10px;
	color: #555;
	font-family: 'Righteous', cursive;
	font-size: 20px;
	letter-spacing: 8px;
}
@keyframes jump-up{
  0%   {top: 0;}
  50%  {top: -10px;}
  100% {top: 0; }
}

@keyframes shadow {
  0%   {text-shadow: 30px 30px rgba(235, 59, 228, 0.4)}
  25%  {text-shadow: 30px 30px rgba(235, 59, 228, 0.1)}
  50%  {text-shadow: 30px 30px rgba(235, 59, 228, 0.1)}
  100% {text-shadow: 30px 30px rgba(235, 59, 228, 0.4)}
}

@keyframes swing {
  0%   { transform: rotate(20deg)	}
  25%  { transform: rotate(-20deg)	}
  50%  { transform: rotate(20deg)	}
  100% { transform: rotate(20deg)	}
}

@keyframes pulse {
	0% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
	}

	100% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
	}
}